.results-section {
    padding: 4rem 0;
    background-color: #f7f7f7;
  }
  
  .card {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  }

  .card-container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .card-img-top {
    max-height: 80px; /* Adjust the value to your desired maximum height */
    object-fit: contain; /* This will fit the image within the specified height without stretching */
  }

  .card-body {
  flex-grow: 1;
  padding: 1.25rem;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 600;
}

.card-text {
  color: #777;
}